@model ExtensionDKM.Models.Course

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Course</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Credit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Credit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tuition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tuition)
        </dd>
        <dt class="col-sm-2">
            Prerequisites
        </dt>
        <dd class="col-sm-10">
            @if (Model.PreviousCourses != null && Model.PreviousCourses.Any())
            {
                @string.Join(", ", Model.PreviousCourses.Select(c => c.PreviousCourse.Name))
            }
            else
            {
                <span>None</span>
            }
        </dd>

        <dt class="col-sm-2">
            Requirements
        </dt>
        <dd class="col-sm-10">
            @if (Model.RequirementCourses != null && Model.RequirementCourses.Any())
            {
                @string.Join(", ", Model.RequirementCourses.Select(c => c.RequirementCourse.Name))
            }
            else
            {
                <span>None</span>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
